html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: top
}
html {
    overflow-y: scroll
}
#navegacionSup {
    background: rgba(0, 0, 0, 0.6);
    display: block;
    bottom: 0;
    position: fixed;
    height: 2em;
    padding: 0 0 .4em 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0 -.2em .3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 -.2em .3em;
    width: 100%;
    z-index: 99;
}
#navegacionSup li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0 .4em
}
#navegacionSup ul {
    margin-right: 1em;
    text-align: right
}
.ejemplo {
    margin: 0 auto;
    max-width: 960px;
    /*padding-top: .5em;*/
    width: 100%
}
.a_demo_two {
    color: #fff;
    font-size: .8em;
    padding: .4em .8em;
    position: relative;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    text-decoration: none;
}
.a_demo_two::before {
    content: "";
    display: block;
    height: 100%;
    left: -2px;
    padding: 0 2px 4px;
    position: absolute;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    border-radius: .6em;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    top: 5px;
    width: 100%;
    z-index: -1
}
.a_demo_two:active {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    top: 7px;
}
.a_demo_two:active::before {
    top: -2px
}
.articulo {
    background-color: #ff7f00;
    box-shadow: inset 0 1px 0 #efca7f, 0 6px 0 #844e15;
    -webkit-box-shadow: inset 0 1px 0 #efca7f, 0 6px 0 #844e15;
}
.articulo::before {
    background: #382607
}
.articulo:active {
    background: #c9852c;
    color: #844e15;
    box-shadow: inset 0 1px 0 #efca7f, inset 0 -1px 0 #844e15;
    -webkit-box-shadow: inset 0 1px 0 #efca7f, inset 0 -1px 0 #844e15
}
.github {
    background-color: #647d8c;
    box-shadow: inset 0 1px 0 #8ea7af, 0 6px 0 #3d5159;
    -webkit-box-shadow: inset 0 1px 0 #8ea7af, 0 6px 0 #3d5159;
}
.github::before {
    background-color: #072239
}
.github:active {
    background: #819ea8;
    color: #50636b;
    box-shadow: inset 0 1px 0 #8ea7af, inset 0 -1px 0 #3d5159;
    -webkit-box-shadow: inset 0 1px 0 #8ea7af, inset 0 -1px 0 #3d5159
}
.elmaguire {
    background-color: #008db3;
    box-shadow: inset 0 1px 0 #7fd2f1, 0 6px 0 #156785;
    -webkit-box-shadow: inset 0 1px 0 #7fd2f1, 0 6px 0 #156785;
}
.elmaguire::before {
    background-color: #072239
}
.elmaguire:active {
    background: #2ca0ca;
    color: #156785;
    box-shadow: inset 0 1px 0 #7fd2f1, inset 0 -1px 0 #156785;
    -webkit-box-shadow: inset 0 1px 0 #7fd2f1, inset 0 -1px 0 #156785
}
.boton, .crono {
    display: inline-flex;
    filter: none;
    vertical-align: middle;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 6px;
    text-decoration: none;

}
.boton:hover , .boton:active, .boton:focus{
    text-decoration: none;
    color: #fff;
}
.boton {
    text-align: center;
}
.boton a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: bold
}
.boton .reinit {
    display: none
}
.controles {
    margin: 20px auto;
    text-align: center
}
.memoria {
    text-align: center;
}
.memoria article {
    background: linen;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.9) 0 0 8px;
    cursor: inherit;
    display: inline-block;
    filter: none;
    height: 10em;
    margin: 1%;
    min-width: 150px;
    opacity: .4;
    vertical-align: top;
    width: 20%;

     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     background-image: url(../img/logopg.png);
}
.memoria article span {
    display: none;
    padding: 25px
    /*font-size: 1.5em;*/
    /*font-weight: bold;*/
    /*line-height: 1.1em;*/
    /*margin: 2em 0 0 0*/
}
.retro {
    background: #b6dfed;
    border-bottom: 2px solid #197199;
    border-top: 2px solid #197199;
    color: #197199;
    display: none;
    margin-top: 2em;
    width: 100%;
}
.retro.incorrecto {
    background: #eaa6a6;
    border-bottom: 2px solid #842222;
    border-top: 2px solid #842222;
    color: #842222
}
.retro p {
    display: block;
    margin: .5em 0 .5em 1em;
    width: calc(100% - 2em)
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.controles-span{
    margin-bottom: 20px;
    width: 30px!important;
    height: 30px!important;
    background-color: transparent!important;
    border: 1px solid #fff!important;
}
.w3-badge {height:13px;width:13px;padding:0} 
.imagen-producto{
    max-width: 100%;
    height: 120px;
    margin: 0 auto;
}
.img-products{
    width: 66%;
    height: auto;
    margin: 0 0 0 auto;
}
.price{
    font-size: 36px;
}
.img-producto2{
    width: 100%; 
}

.section-fluido {
    margin: 0px;
}

.img-producto2{
    width: 100%;
    /*height: 210px;*/
}

.float-products {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.float-products .capa-img {  
    
}

.full-width-image {
    width: 100% !important; 
    max-width: 100%; 
    height: auto;
}


.portfolios-list .img-btn { 
    width: 50px; 
}

.swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 500px !important;
}

.products-list {
    display: none;
}

.products-detail {
    display: none;
}

.uses {
    display: none;
}

.videos {
    display: none;
}

.contenedor-video {
    padding-top: 13%;
}

.indicator {
    border-top-left-radius: 10px;
    position: fixed;
    width: 80px;
    height: 22px;
    z-index: 500;
    bottom: 0;
    right: 30px;
    display: block;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 5; 
    font-size: 12px;
    line-height: 10px; 
    border: 1px solid #d5d5d5; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    font-family: helvetica;
    color: #888;
}


.all-container {
    background-color: white;
}