 body, html {
     margin: 0;
     padding: 0;
 }
 /* @font-face {
font-family: bambino;
src: url(../Bambino Black.otf);
}*/

 /* @font-face {
     font-family: "bambinobold";
     src: url(../fonts/Bambino Bold.otf);
 }

 @font-face {
     font-family: Blackjack;
     src: url(../fonts/Blackjack.ttf);
 }*/

 .user-nav ul li.dropdown.settings .dropdown-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    left: -65px;
    top: 48px;
    background-color: #F6F6F6;
    border-color: #e7e8ec;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.user-nav ul li.dropdown.settings .dropdown-menu>li>a {
    padding: 5px 10px;
    font-size: 16px;
    font-family: Helvetica;
}
 .bg-fondo {
     background-color: transparent;
     /*width: 100%;*/
 }
 .logopg {
     /* color: #000 !important;
    font-weight: bold;
    background-color: rgba(40,50,190,.6);
    border-radius: 50%;
    padding: 5px;*/
     background-image: url(../img/logopg.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     /*width: 100%;*/
     height: 2em;
     margin-top: 10px;
 }
 .bg-section {
     background-image: url(../img/fondo-index.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding: 12% 3% 2%;
 }
 .brand-bill {
     background-color: transparent !important;
 }
 .cabecera-bill {
     background-color: rgba(93, 178, 228, .9)!important;
     position: fixed;
     width: 100%;
 }
 .btn-span {
     margin: 23px 20px 0 0 !important;
 }
 .btn-span, .btn-bill {
     border-radius: 4px !important;
     background-color: #ffffff !important;
     border: 1px solid #fff;
     padding: 10px;
 }
 .btn-span, .btn-bill i {
     color: #00539c !important;
     font-size: 20px;
     font-weight: bold;
 }
 .img-products {
     width: 100%;
     height: 100%;
 }
 /* .user-nav ul li.combo-bill .dropdown-menu:before {
    bottom: 100%;
    left: 78%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #e7e8ec;
    border-width: 8px;
    margin-left: -8px;
    top: -17px;
}*/

 .combo-bill {
     /*padding: 0 0px;*/
 }
 .section-fluido {
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     /*padding-top:5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;*/
     padding: 6.5% 0px;
     /*padding-top:5%;
    padding-bottom: 5%;
    height: 120px;*/
 }
 .section-fluido-producto {
     padding-top: 13%; 
     width: 100%;
     background-repeat: no-repeat;
     background-position: left center;
     background-size: cover;
     /*height: 650px;*/
     height: 900px;
     padding-bottom: 7%;
     
 }
 .detalle_prod {
     padding-top: 7%;
     /*padding-bottom: 10%;*/
 }
 .botones-bill {
     border-radius: 50%;
     padding: 3%;
     /*background-color: rgba(171,133,47,.8);*/
     background-color: #ab852f;
     color: #fff;
     border: 2px solid #fff;
     box-shadow: 5px;
 }
 .caracteristicas {
     padding: 4%;
     position: absolute;
     border-style: dotted;
     border-color: #388dd7;
     border-radius: 25%;
     right: 20px;
     top: 20em;
 }
 .separador {
     border-bottom: 4px solid #000;
     width: 95%;
     float: right;
 }
 .separador2 {
     border-bottom: 1px solid #b7d8f3;
     width: 70%;
     margin: 0 auto;
 }
 .nombre-pro {
     /*color: #30539d;*/
     text-transform: uppercase;
     text-align: right;
     font-weight: bold;
     font-size: 45px;
     font-family: 'Helvetica';
 }
 .subtitulo {
     color: #000;
     text-align: right;
     font-size: 20px;
     margin-top: 21px;
     /*font-family: 'helveticasss';*/
 }
 .titulo2 {
     color: #999;
     text-align: right;
         margin-top: 14%;
 }
 .descripcion-prod {
     color: #000;
     text-align: right;
     font-size: 20px;
     /*font-family: 'helveticasss';*/
 }
 .detalles-producto h1, .detalles-producto p {
     font-family: 'Helvetica';
 }
 .descripcion-detalle-prod {
     color: #000;
     text-align: right;
     font-size: 15px;
     display: inline-flex;
 }
 .titulo2 .t1, .titulo2 .t2, .titulo2 .t3 {
     font-size: 36px;
     font-family: "Blackjack", cursive;
 }
 .titulo2 .t2 {
     font-size: 24px;
 }
 .price_prod {
    display: table;
    text-align: center;
    font-family: "bambinobold", bold;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
 }
 .price_prod strong {
    padding: 18% 70px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-family: "BambinoBold";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 24px;
 }
 .contenido-descripcion h2{
      text-align: center;
      font-size: 28px;
 }
 /*.img-producto-bill {
     position: static;
     width: 100%;
     left: 0;
     top: 20%;
 }*/

 /*juegos trivial*/

 .contenido-trivial {
     padding: 13% 20px;
 }
 .fondo-trivia {
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     width: 100%;
 }
 .titulo-general {
     text-transform: uppercase;
     color: #fff;
     font-weight: 700;
 }
 .titulo-general h1 {
     font-size: 30px !important;
 }
 .separador-linea {
     border-bottom: 1px solid #fff;
     width: 70%;
     margin: 2em auto;
 }
 #respuestas {
     color: #fff;
 }
 .titulos {
     color: #fff;
     font-weight: bold;
 }
 .btn-comprobar {
     border: 1px solid #fff;
     background-color: transparent;
     color: #fff;
     transition: all 0.5s;
 }
 .btn-comprobar:hover, .btn-comprobar:focus, .btn-comprobar:active {
     border: 1px solid #429EE2;
     background-color: #429EE2;
     color: #fff;
 }
 .bg-memoria {
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     width: 100%;
     padding: 15% 0px
 }
 .textura {
     
     background-repeat: no-repeat;
     background-position:  center;
     background-size: cover;
     width: 100%;
     padding: 5% 0px;
     background-attachment: fixed;
     position: relative;
 }
 .textura-video {
     background-repeat: no-repeat;
     background-position: left center;
     /*background-size: cover;*/
     width: 100%;
     padding: 1% 0px;
     height: 1024px;
     background-attachment: fixed;
    
    
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
 }
 .productos-flotantes {
     margin: 0px; 
     bottom: 0;
     left: 0; 
 }
 
  .productos-flotantes2 {
     margin: 0px;
     position: relative;
     bottom: 0;
     left: 0;
     width: 100%;
 }
@media (min-width: 0px) and (max-width: 768px) {
   .col-sm-2{
       width:76.8px;
   }
}
 @media (min-width: 769px) and (max-width: 1024px) {
   .col-sm-2{
      width: 102.4px;
   }
}
