@font-face {
font-family: bambino;
src: url(Bambino Black.otf);
}
@font-face {
font-family: bambino bold;
src: url(Bambino Bold.otf);
}
@font-face {
font-family: Blackjack;
src: url(Blackjack.ttf);
}
@font-face {
font-family: helveticasss;
src: url(Helvetica.dfont);
}