body, *, html {
    padding: 0;
    margin: 0; 
}
.cuerpo {
    /*background-color: #0D559B;*/
/*
    background: -webkit-linear-gradient(#3672AC , #0D559B);
    background: -o-linear-gradient(#3672AC   #0D559B);
    background: -moz-linear-gradient(#3672AC  , #0D559B);
    background: linear-gradient(#3672AC , #0D559B);*/

    background: -webkit-linear-gradient(left, #3672AC , #0D559B);
background: -o-linear-gradient(right, #3672AC, #0D559B);
background: -moz-linear-gradient(right, #3672AC, #0D559B); 
background: linear-gradient( right, #3672AC , #0D559B);

/*background: -webkit-linear-gradient(left , red , blue); 
background: -o-linear-gradient( right, red, blue);
background: -moz-linear-gradient( right, red, blue);
background: linear-gradient(to  right, red , blue);*/
}
.logos{
	background-color: #fff;
	padding: 10px;
	margin-top: 4em;
	 
}

.logos   img{
	/*width: 100%;*/
	/*height: 150px;*/
	margin: 10px auto;
}
.formulario-inputs .cajas{
	background-color: rgba(255,255,255,.2);
	border-radius: 15px;
	padding: 22px 10px ;
	border: 0px;
	color: #fff;
}
.formulario-inputs input::placeholder{	
	color: #fff;
	font-weight: bold;
}
.btn-login{
	background-color: #fff;
	color: #385397;
	width: 100%;
	border-radius: 15px;
	padding: 13px 10px ;
	font-weight: bold;
	border: 0px;
}